.team-member-row1,
.team-member-row2 {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin: 0 200px;
}

.hover-content {
  display: none; /* Initially hide hover content */
  position: absolute;
  bottom: 0; /* Position it at the bottom of the member */
  left: 0;
  right: 0;
  background-color: rgba(21, 1, 32, 0.884); /* Semi-transparent background */
  color: #fff;
  padding: 10px;
  text-align: center;
  opacity: 0; /* Start with opacity 0 */

  transition: opacity 3s ease-in-out; /* Smooth transition for opacity */
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
}

.team-member {
  margin-top: 50px;
  position: relative;
  cursor: pointer;
  width: min-content;
  border-radius: 8px;
  text-align: center;
  font-size: 1.3rem;
  border: 4px solid rgba(255, 255, 255, 0.295);
  transition: border 3s;
}

.team-member:hover {
  border: 4px solid rgba(255, 166, 0, 0.589);
}

.team-member img {
  border-radius: 8px;
}

.role {
  color: orange;
}

.team-member:hover .hover-content {
  display: block;
  opacity: 1;
}
/*  */

.about-body {
  max-width: 80vw;
  margin: 0 300px;
  border-right: 4px solid rgb(58, 17, 82);
  border-left: 4px solid rgb(58, 17, 82);
  box-shadow: 2px 40px 40px rgb(61, 44, 78);
}

.about-page {
  padding-top: 200px;
  background-color: rgb(201, 117, 117);
  min-height: 70vw;
}

.about-page {
  background: linear-gradient(rgba(38, 12, 63, 0.616), rgba(22, 2, 54, 0.911)),
    url(./assets/images/Home\ Background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section {
  text-align: center;
}

.hero-section h1 {
  font-size: 3rem;
}

.hero-section p {
  font-size: 1.7rem;
  color: orange;
}

.core {
  max-width: 1200px;
  margin: 0 auto;
}

.about-row1 {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.company-history {
  font-size: 1.3rem;
  margin: 0 auto;
  margin-top: 100px;
  height: 350px;
  width: 350px;
  background: linear-gradient(
    #240046d3,
    #3c096cd0,
    #59189adc,
    #7a2cbfb6,
    #9d4eddc5
  );
  border-radius: 50%;
  padding: 40px;
  justify-content: center;
  align-content: center;
}

.about-row1 div {
  font-size: 1.3rem;
  height: 390px;
  width: 390px;
  background: linear-gradient(
    120deg,
    #240046d3,
    #3c096cd0,
    #59189adc,
    #7a2cbfb6,
    #9d4eddc5
  );
  border-radius: 50%;
  padding: 40px;
  justify-content: center;
  align-content: center;
}

.about-row1 h2 {
  font-size: 2rem;
  margin: 2px auto;
}

/* Giving Back  */

.community-involvement {
  font-size: 2rem;
  height: 600px;
  padding: 100px;
  background: linear-gradient(
      to right,
      rgba(12, 12, 12, 0.836),
      rgba(82, 56, 90, 0.205)
    ),
    url(./assets/images/About/Giving-back.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.community-involvement p {
  width: 80%;
}

.about-row2 {
  margin-top: 100px;
}

.contact-info {
  font-size: 1.6rem;
  margin-top: 100px;
  padding: 100px;
  padding-right: 55%;
  height: 500px;
  background: linear-gradient(
      to right,
      rgb(19, 18, 18),
      rgba(122, 119, 122, 0.178)
    ),
    url(./assets/images/About/contact.jpg);
  background-position: center;
  background-size: cover;
}

.contact-info a {
  text-decoration: none;
  color: orange;
  transition: 1s ease-in-out;
}

.btn:hover {
  color: rgb(230, 212, 199);
  background-color: rgb(37, 36, 36);
}

.btn {
  background-color: rgba(82, 78, 78, 0.774);
  padding: 3px;
  border-radius: 8px;
}
