body {
  background: linear-gradient(
      to right,
      rgba(45, 45, 46, 0.938),
      rgba(76, 56, 90, 0.404)
    ),
    url(./assets/images/peter-kalonji-LH74lRYvBY4-unsplash.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.top {
  display: flex;
  justify-content: space-evenly;
  width: fit-content;
  margin: 30px auto;
}

.user-info {
  width: 45%;
}

.user-deets {
  display: flex;
  justify-content: space-between;
}

.contact1 {
  width: fit-content;
  padding: 5px;
  margin: 0 20px;
  display: block;
  justify-content: center;
  text-align: center;
}

.contact1 img {
  background-color: rgb(186, 117, 243);
  width: 80px;
  height: 80px;
  padding: 20px;
  border-radius: 50%;
}

.contact1 p {
  color: white;
}

.contact1 span {
  color: rgb(213, 137, 243);
  font-weight: 600;
}

.contact-body {
  height: 500px;
  width: max-content;
  display: flex;
  margin: 0 auto;
  border: 3px rgb(255, 255, 255) solid;
  border-radius: 8px;
  box-shadow: 3px 3px 10px 3px rgba(132, 63, 211, 0.479);
}

.contact-head {
  padding-top: 170px;
}

.contact-head h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
  text-decoration: overline;
}

.form {
  width: 800px;
  height: 100%;
}

.side {
  width: 50%;
}

.map {
  width: 100%;
  height: 100%;
}

.Subscribe {
  background-color: white;
}

/* M E D I A    Q U E R I E S   S T A R T   H E R E */

@media (max-width: 1300px) {
  .top {
    width: 80vw;
    flex-wrap: wrap;
  }

  .contact1 {
    width: 250px;
    margin-top: 30px;
    margin: 0 80px;
    justify-content: space-between;
  }

  .contact-body {
    width: 70vw;
    height: min-content;
  }

  .form {
    width: 60%;
    height: min-content;
  }

  .form form {
    width: 100%;
  }

  .side {
    width: 40%;
    height: auto;
  }
}

/* ---------------- */

@media (max-width: 1040px) {
  .contact1 {
    width: 220px;
    margin: 0 30px;
  }

  .side {
    display: none;
  }

  .contact-body {
    width: 90vw;
  }

  .form {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .user-deets {
    display: block;
  }

  .user-info {
    width: 100%;
  }
}
