/* * {
  margin: 0;
  padding: 0;
  color: white;
}

h1 {
  font-size: 48px;
  text-shadow: 3px 3px 3px rgb(22, 17, 27);
}

section {
  background-image: linear-gradient(
      90deg,
      rgba(23, 1, 34, 0.89),
      rgba(124, 11, 168, 0.26)
    ),
    url(./assets/images/Home\ Background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

section .navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px 10vw;
  background-color: rgba(49, 33, 71, 0.849);
}

.nav {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages {
  list-style: none;
  font-size: 24px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px;
  margin: 0 10vw;
  padding-top: 20px;
}

.main-text {
  width: 50%;
  font-size: 20px;
}

.main-img {
  background-image: linear-gradient(
      90deg,
      rgba(10, 1, 34, 0.363),
      rgba(84, 11, 168, 0)
    ),
    url(./assets/images/IMG-20240805-WA0029.jpg);
  width: 30%;
  height: 400px;
  background-size: cover;
  border-radius: 10px;
  background-repeat: no-repeat;
  display: flex;
}

.home-body-info {
  padding: 20px 10vw;
  font-size: 28px;
  text-align: center;
}

.home-products {
  padding: 20px 10vw;
  display: flex;
  justify-content: space-around;
}

.product {
  width: 1px;
}
 */

.team-members {
  display: flex;
  justify-content: space-evenly;
}
